{% for deck in decks %}


    <div class="card mt-5">

        <!-- Card header - deck name -->
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>
                        {{ deck.name }}

                        {% if deck.get_days_since_created < new_badge_limit_days %}
                            <span class="badge text-bg-success align-middle fs-6">New</span>
                        {% elif deck.get_days_since_updated < new_badge_limit_days %}
                            <span class="badge text-bg-info align-middle fs-6">Updated</span>
                        {% endif %}
                    </h1>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <h2 class="text-end">
                        {% for color in deck.get_colors %}
                        <i class="ms ms-cost ms-{{ color }}"></i>
                        {% endfor %}
                    </h2>
                </div>
            </div>
        </div>

        <!-- Card body - decklist (there are several options on how to display the decklist) -->
        <div class="card-body">

            {% if decklist_view == 'by_type' %}
                {% include 'mtg_decks/partials/decklist_by_type.html' %}
            {% else %}
                {% include 'mtg_decks/partials/decklist.html' %}
            {% endif %}

        </div>
        
        <!-- Card footer - tags -->
        <div class="card-footer text-body-secondary">
            Tags: 
            {% for tag in deck.tags.all %}
                <a href="#" class="text-reset"><kbd>{{ tag }}</kbd></a>
            {% endfor %}
        </div>

    </div>

    <!-- Handle infinite scroll -->
    {% if decks.has_next and forloop.last %}
        <div hx-get="{% url 'index' %}?page={{ decks.next_page_number }}" 
            hx-trigger="revealed" 
            hx-swap="afterend"
            hx-indicator="#spinner" 
            hx-include="#deck-filter-form">
        </div>

    {% else %}
        <div class="mt-5"></div>
    {% endif %}


{% endfor %}