<div class="row">
    <div class="col align-self-center">
        <div>
            {% if deck.tags.all %}
                {% for tag in deck.tags.all %}
                    <span class="badge text-bg-secondary">{{ tag }}</span>
                {% endfor %}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
    
    {% if user.is_authenticated %}
        <div class="col-1 text-end">
            <button type="button" class="btn btn-outline-primary btn-sm edit"
                hx-get="{% url 'edit_deck_tags' deck.pk %}" 
                hx-target="next .edit-tags"
                hx-swap="innerHTML"
                hx-on::after-request="this.style.display='none'; $('#id_tags').select2();">
                Edit
            </button>
        </div>
    {% endif %}
</div>


{% if user.is_authenticated %}
<div class="row">
    <div class="col">
        <div class="edit-tags">
            <!-- Edit tags form goes here -->
        </div>
    </div>
</div>
{% endif %}
