{% for deck in decks %}

    <!-- Large card representing a deck -->
    {% include 'mtg_decks/partials/deck-card.html' %}

    <!-- Handle infinite scroll -->
    {% if decks.has_next and forloop.last %}
        <div hx-get="{% url 'index' %}?page={{ decks.next_page_number }}" 
            hx-trigger="revealed" 
            hx-swap="afterend"
            hx-indicator="#spinner" 
            hx-include="#deck-filter-form">
        </div>

    {% else %}
        <div class="mt-5"></div>
    {% endif %}

{% endfor %}