{% load crispy_forms_tags %}
{% load widget_tweaks %}

<form class="mt-2"
    hx-post="{% url 'edit_deck_tags' deck.pk %}"
    hx-target="closest .deck-tags-list">
    <div class="row">
        <div class="col">
            {{ deck_tags_form.tags|add_class:"form-control" }}
        </div>
        
        <div class="col-md-2 text-end align-self-end">
            <button class="btn btn-outline-danger btn-sm w-100" type="button" 
                hx-on:click="this.closest('.deck-tags-list').querySelector('.edit').style.display='inline-block'; this.closest('form').remove();">
                Cancel
            </button>
            
            <button class="btn btn-outline-primary btn-sm w-100 mt-2" type="submit">Update</button>
        </div>
    </div>
</form>