<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"> The Pauper Deck Library</a>
        <span class="fs-6 fw-lighter text-secondary text-opacity-50 d-none d-md-inline-block">by Synergix</span>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="{% url 'cards_home' %}">Cards</a>
                <a class="nav-link" href="{% url 'deck_index' %}">Decks</a>

                {% if user.is_authenticated %}
                    <div class="vr mx-3 text-dark d-none d-md-block"></div>
                    <div class="text-dark d-md-none"><hr></div>

                    <a class="nav-link" href="{% url 'management' %}">Management</a>
                {% endif %}

            </ul>

        </div>
    
    </div>
</nav>