<div class="row">
    <div class="col">
        <p>Created decks:</p>

        {% if created_decks %}

            <ul class="list-group list-group-flush">
                {% for deck in created_decks %}
                    <li class="list-group-item">{{ deck }}</li>
                {% endfor %}
            </ul>

        {% else %}

            -

        {% endif %}
    </div>


    <div class="col">
        <p>Updated decks:</p>

        {% if updated_decks %}

            <ul class="list-group list-group-flush">
                {% for deck in updated_decks %}
                    <li class="list-group-item">{{ deck }}</li>
                {% endfor %}
            </ul>

        {% else %}

            -

        {% endif %}
    </div>


    <div class="col">
        <p>Found error in the following decks:</p>

        {% if err_decks %}

            <ul class="list-group list-group-flush">
                {% for deck in err_decks %}
                    <li class="list-group-item">{{ deck }}</li>
                {% endfor %}
            </ul>

        {% else %}

            -

        {% endif %}
    </div>
    
</div>