<div class="card text-bg-light mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ cardmainboard.mainboard.get_deck_art }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div class="card-body p-2">
            <h5 class="card-title"><a href="" class="text-reset text-decoration-none">{{ cardmainboard.mainboard.name }}</a></h5>
            <div class="d-flex w-100 justify-content-between">
                <div>
                    {% for color in cardmainboard.mainboard.get_colors %}
                        <i class="ms ms-cost ms-{{ color }}"></i>
                    {% endfor %}
                </div>
                <p class="card-text text-secondary mb-0">{{cardmainboard.quantity }} in mainboard</p>
            </div>
        </div>
      </div>
    </div>
  </div>