{% extends "mtg_decks/base.html" %}
{% load static %}


{% block content %}

<div class="container my-5">

    <div class="row">
        <div class="col">
            <div class="text-secondary text-end mb-2">Total: {{ decks|length }} decks</div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        
        {% for deck in decks %}
            <div class="col">
                {% include 'mtg_decks/partials/deck-card-small.html' %}
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}



{% block javascript %}



{% endblock %}