{% extends "mtg_decks/base.html" %}
{% load static %}


{% block content %}

<div class="container">

    <div class="card mt-5">

        <!-- Card header - deck name -->
        <div class="card-header position-relative">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="mb-0">
                        <a href="{% url 'deck' deck.pk deck.slug %}" class="text-decoration-none text-reset stretched-link">{{ deck.name }}</a>

                        {% if deck.get_days_since_created < new_badge_limit_days %}
                            <span class="badge text-bg-success align-middle fs-6">New</span>
                        {% elif deck.get_days_since_updated < new_badge_limit_days %}
                            <span class="badge text-bg-info align-middle fs-6">Updated</span>
                        {% endif %}
                    </h1>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <h2 class="text-end mb-0">
                        {% for color in deck.get_colors %}
                        <i class="ms ms-cost ms-{{ color }}"></i>
                        {% endfor %}
                    </h2>
                </div>
            </div>
        </div>

        <!-- Card body - decklist (there are several options on how to display the decklist) -->
        <div class="card-body">

            {% if decklist_view == 'by_type' %}
                {% include 'mtg_decks/partials/decklist_by_type.html' %}
            {% else %}
                {% include 'mtg_decks/partials/decklist.html' %}
            {% endif %}

        </div>
        
        <!-- Card footer - tags -->
        <div class="card-footer text-body-secondary">
            {% if deck.tags.all %}
                {% for tag in deck.tags.all %}
                    <a href="#" class="text-reset"><kbd>{{ tag }}</kbd></a>
                {% endfor %}
            {% else %}
                &nbsp;
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}


{% block javascript %}

<script>
    // Show card on hover
    ////////////////////////////////////////////////////////
    
    // Select all links with the class 'hover-link'
    const hoverLinks = document.querySelectorAll('.hover-link');

    // Function to show the image in the next sibling container
    function showImage(event) {
        // Get the image URL from the data attribute
        const imageUrl = event.target.getAttribute('data-image-url');

        // Find the next sibling element (the image container)
        const targetContainer = event.target.nextElementSibling;

        // Create an image element and set its src to the image URL
        const img = document.createElement('img');
        img.src = imageUrl;
        img.alt = 'Card Image';

        // Clear the target container's content and append the new image
        targetContainer.innerHTML = '';
        targetContainer.appendChild(img);
    }

    // Function to hide the image when the mouse leaves the link
    function hideImage(event) {
        // Find the next sibling element (the image container)
        const targetContainer = event.target.nextElementSibling;

        // Clear the image container content
        targetContainer.innerHTML = '';
    }


    // Function to attach event listeners to hover links
    function attachListeners() {
        const hoverLinks = document.querySelectorAll('.hover-link');
        hoverLinks.forEach(link => {
            link.addEventListener('mouseover', showImage);
            link.addEventListener('mouseout', hideImage);
        });
    }

    // Initial setup to attach event listeners to existing links
    attachListeners();
</script>

{% endblock %}