{% extends "mtg_decks/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="mt-5">
        <table id="deck-index" class="table table-hover table-sm table-responsive">
            <thead>
                <tr>
                    <th scope="col">Deck name</th>
                    <th scope="col" class="text-center">Color</th>
                    <th scope="col" class="text-center">Price (tix)</th>
                    <th scope="col">Tags</th>
                </tr>
            </thead>
            <tbody>

                {% for deck in decks %}
                    <tr>
                        <td class="position-relative">
                            <a href="{% url 'deck' deck.pk deck.slug %}" class="text-decoration-none stretched-link">
                                {{ deck.name }}
                            </a>
                        </td>
                        <td class="text-center">
                            {% for color in deck.get_colors %}
                                <i class="ms ms-cost ms-{{ color }}"></i>
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            {{ deck.get_price.total|floatformat:2 }}
                        </td>
                        <td>
                            {% for tag in deck.tags.all %}
                                <span class="badge text-bg-secondary">{{ tag }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>
{% endblock %}
