{% extends "mtg_decks/base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <!-- Partial HTML with the forloop of decks -->
    {% include 'mtg_decks/partials/decks.html' %}

    <!-- Loading spinner for infinite scroll -->
    <div id="spinner" class="htmx-indicator d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Hidden field with decklist text -->
    <div id="decklist-text" class="d-none"></div>

</div>
{% endblock %}