{% extends "mtg_decks/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="container">

    <!-- Deck filtering -->
    <div id="filter-container" class="card mt-4">

        <!-- Card header -->
        <div class="card-header text-center">
            Filter decks
        </div>

        <!-- Card body -->
        <div class="card-body">

            <form id="deck-filter-form" 
                hx-get="{% url 'index' %}" 
                hx-target="#decks-container" 
                hx-trigger="submit" 
                hx-indicator="#filter-spinner" 
                hx-on::config-request="document.getElementById('filter-spinner').classList.remove('d-none');" 
                hx-on::after-request="document.getElementById('filter-spinner').classList.add('d-none');">

                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.name.id_for_label }}" class="form-label">By name</label>
                        {{ form.name|add_class:"form-control" }}

                        <label for="{{ form.family.id_for_label }}" class="form-label mt-3">By guild/shard/clan</label>
                        {{ form.family|add_class:"form-select" }}
                    </div>

                    <div class="col-md-6">
                        <label for="{{ form.card.id_for_label }}" class="form-label">By card in mainboard</label>
                        {{ form.card|add_class:"form-control" }}

                        <label for="{{ form.tag.id_for_label }}" class="form-label mt-3">By tag</label>
                        {{ form.tag|add_class:"form-select" }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary w-100">
                            <span id="filter-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            Filter!
                        </button>
                    </div>

                    <div class="col-md-2">
                        <a href="{% url 'index' %}" type="button" class="btn btn-outline-primary w-100">Reset</a>
                    </div>
                </div>
    
            </form>

        </div>

    </div>


    <!-- Partial HTML with the forloop of decks -->
    <div id="decks-container">
        {% include 'mtg_decks/partials/decks.html' %}
    </div>

    <!-- Loading spinner for infinite scroll -->
    <div id="spinner" class="htmx-indicator d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Hidden field with decklist text -->
    <div id="decklist-text" class="d-none"></div>

</div>
{% endblock %}