{% extends "mtg_decks/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container">
    <div class="row my-4">
        
        <!-- Card image -->
        <div class="col-md-4 mb-3 mb-md-0">
            {% if card.faces %}
                <div id="cf">
                    <img src="{{ card.face1_img_url }}" class="figure-img img-fluid card-front" alt="Card image from front side">
                    <img src="{{ card.face2_img_url }}" class="figure-img img-fluid card-back" alt="Card image from back side">
                </div>
            {% else %}
                <figure class="figure">
                    <a href="{{ card.scryfall_url }}" target="_blank">
                    <img src="{{ card.img_url }}" class="figure-img img-fluid" alt="Card image">
                    </a>
                </figure>
            {% endif %}
        </div>

        <!-- Card info -->
        <div class="col-md-4 mb-3 mb-md-0">

            <div class="mb-3">
                {% if card.faces %} <!-- Show info for both card faces -->
                    <ul class="list-group">
                        <!-- Face 1 name and type -->
                        <li class="list-group-item active">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1"><i class="ms ms-dfc-front"></i> {{ card.face1_name }}</h4>
                                <span>{{ card.get_mana_cost_html_face1|safe }}</span>
                            </div>
                            <p class="text-secondary mb-1">{{ card.face1_type_line }}</p>
                        </li>

                        <!-- Face 1 oracle and flavor text -->
                        <li class="list-group-item">
                            <p class="mb-0">{{ card.face1_oracle_text|parse_mana_symbols|safe|linebreaksbr }}</p>
                            
                            {% if card.face1_flavor_text %}
                                <p class="text-secondary mt-2 mb-0"><em>{{ card.face1_flavor_text }}</em></p>
                            {% endif %}
                        </li>

                        <!-- Face 1 power and toughness -->
                        {% if card.face1_power %}
                            <li class="list-group-item text-end">
                                {{ card.face1_power }} / {{ card.face1_toughness }}
                            </li>
                        {% endif %}

                        <!-- Face 2 name and type -->
                        <li class="list-group-item active">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1"><i class="ms ms-dfc-back"></i> {{ card.face2_name }}</h4>
                                <span>{{ card.get_mana_cost_html_face2|safe }}</span>
                            </div>
                            <p class="text-secondary mb-1">{{ card.face2_type_line }}</p>
                        </li>

                        <!-- Face 2 oracle and flavor text -->
                        <li class="list-group-item">
                            <p class="mb-0">{{ card.face2_oracle_text|parse_mana_symbols|safe|linebreaksbr }}</p>
                            
                            {% if card.face2_flavor_text %}
                                <p class="text-secondary mt-2 mb-0"><em>{{ card.face2_flavor_text }}</em></p>
                            {% endif %}
                        </li>

                        <!-- Face 2 power and toughness -->
                        {% if card.face2_power %}
                            <li class="list-group-item text-end">
                                {{ card.face2_power }} / {{ card.face2_toughness }}
                            </li>
                        {% endif %}
                    </ul>
                
                {% else %} <!-- Show info for unique face -->
                    
                    <ul class="list-group">
                        <!-- Card name and type -->
                        <li class="list-group-item active">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">{{ card.name }}</h4>
                                <span>{{ card.get_mana_cost_html|safe }}</span>
                            </div>
                            <p class="text-secondary mb-1">{{ card.type_line }}</p>
                        </li>

                        <!-- Oracle and flavor text -->
                        <li class="list-group-item">
                            <p class="mb-0">{{ card.oracle_text|parse_mana_symbols|safe|linebreaksbr }}</p>
                            
                            {% if card.flavor_text %}
                                <p class="text-secondary mt-2 mb-0"><em>{{ card.flavor_text }}</em></p>
                            {% endif %}
                        </li>

                        <!-- Power and toughness -->
                        {% if card.power %}
                            <li class="list-group-item text-end">
                                {{ card.power }} / {{ card.toughness }}
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

            </div>

            <!-- Prices -->
            <div class="mb-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary">
                        <p class="mb-0">Best price</p>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ card.best_price.set_abbreviation }}
                        <span>{{ card.best_price.tix }} tix</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">Data from <a href="https://www.goatbots.com/" target="_blank" class="text-reset">Goatbots</a></small>
                        <small class="text-body-secondary">Last updated {{ card.best_price.updated_at|date:"Y/m/d" }}</small>
                    </li>
                    
                </ul>
            </div>

        </div>


        <div class="col-md-4 mb-3 mb-md-0">
            
            {% if card.get_decks_containing.total > 0 %}
                <h5 class="mb-3">Decks with this card ({{ card.get_decks_containing.total }})</h5>
                
                {% for cardmainboard in card.get_decks_containing.main %}
                    <div class="card text-bg-light mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ cardmainboard.mainboard.art_url }}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body p-2">
                                    <h5 class="card-title">
                                        <a href="{% url 'deck' cardmainboard.mainboard.pk cardmainboard.mainboard.slug %}" class="text-reset text-decoration-none stretched-link">
                                            {{ cardmainboard.mainboard.name }}
                                        </a>
                                    </h5>
                                    <div class="d-flex w-100 justify-content-between">
                                        <div>
                                            {% for color in cardmainboard.mainboard.get_colors %}
                                                <i class="ms ms-cost ms-{{ color }}"></i>
                                            {% endfor %}
                                        </div>
                                        <p class="card-text text-secondary mb-0">
                                            {{ cardmainboard.mainboard.get_price.total|floatformat:2 }} tix
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for cardsideboard in card.get_decks_containing.side %}
                    <div class="card text-bg-light mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ cardsideboard.sideboard.art_url }}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body p-2">
                                    <h5 class="card-title"><a href="" class="text-reset text-decoration-none">{{ cardsideboard.sideboard.name }}</a></h5>
                                    <div class="d-flex w-100 justify-content-between">
                                        <div>
                                            {% for color in cardsideboard.sideboard.get_colors %}
                                                <i class="ms ms-cost ms-{{ color }}"></i>
                                            {% endfor %}
                                        </div>
                                        <p class="card-text text-secondary mb-0">
                                            {{ cardsideboard.quantity }} in sideboard
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            {% endif %}

        </div>


    </div>
</div>

{% endblock %}
